<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
</style>

<body>
    <table>
        <tr>
            <td>
                No.
            </td>
            <td>
                Name
            </td>
            <td>
                Image
            </td>
            <td>
                Desc
            </td>
            <td>
                Video
            </td>
            <td>Edit</td>
        </tr>
        <% products.forEach(e=>{ %>
            <tr>
                <td>
                    <%= e._id %>
                </td>
                <td>
                    <%= e.name %>
                </td>
                <td>
                    <%= e.image %>
                </td>
                <td>
                    <%= e.desc %>
                </td>
                <td>
                    <%= e.video %>
                </td>
                <td>
                    <a href="/remove/<%= e._id %>"> Xoa </a>
                    <a href="/edit/<%= e._id %>"> Sua</a>
                </td>
            </tr>
            <%  }); %>

    </table>

    <p><button onclick="window.open('/add','_self')">Add Product</button></p>
</body>

</html>